<div>
  {{#if currentUserMood.userUserMood}}
  <div class="column {{currentUserMood.userUserMood}}Border">
 <div class="moodSelector {{currentUserMood.userUserMood}}">
{{else}}
<div class="column">
 <div class="moodSelector default">
  {{/if}}
      {{>mood-wheel}} 
      {{#if currentUserMood.userUserMood}}
      <p id="sameMood">{{sameMood}}</p>
      {{else}}
      <p id="sameMood">You haven't set a current mood yet</p>
      {{/if}}
    </div>

    <div class="allPosts">
      <h2>Drama from all Llamas</h2>
      {{#each allPosts}}
      <div class="post-box">
        <div id="profileLlama">
         {{#if user.llama.llama_image}}
          <img id="profileLlamaColor" src={{user.llama.llama_image}} />
        <img id="profileLlamaHat" src={{user.llama.llama_hat_image}} />
        {{/if}}
        </div>
        <p>{{user.username}} drama:</p>
        <p id="title">{{title}}</p>
        <p id="text">{{text}}</p>
        <p>Was feeling {{moodText}} on {{dateFormat createdAt}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="modal">
<div id="journalModal">
  <p class="modal-content"></p>
</div>
</div>

<script src="js/currentMood.js"></script>

