<div>
  <div class="column">
    <div class="currentMood column">
      {{>mood-wheel}}
    </div>

    <div class="allPosts">
      <h2>Drama from all Llamas</h2>
      {{#each allPosts}}
      <div class="post-box">
        <div id="profileLlama">
          <img id="profileLlamaColor" src="images/pixel-llamas/llama02.png" />
        <img id="profileLlamaHat" src="images/pixel-llamas/hat02.png" />
        </div>
        <p>{{user.username}}'s drama:</p>
        <p id="title">"{{title}}"</p>
        <p id="text">{{text}}</p>
        <p>Was feeling {{moodText}} on {{dateFormat createdAt}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="modal">
<div id="journalModal">
  <p class="modal-content"></p>
</div>
</div>

<script src="js/currentMood.js"></script>

