<div>
  <div class="column">
    <div class="journal">
      <form id="new-post-form">
        <textarea id="title-input" placeholder="title"></textarea>
        <textarea id="post-input" placeholder="how are you feeling, right now?"></textarea>
      </form>
      <button>woosaahh</button>
    </div>

    <div class="allPosts">
      <h2>drama from other llamas</h2>
      {{#each allPosts}}
      <div class="post-box">
        <p id="username">{{user.username}}'s drama:</p>
        <p id="moodText">{{moodText}}</p>
        <p id="title">{{title}}</p>
        <p id="text">{{text}}</p>
        <p id="date">{{dateFormat createdAt}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>
  