<div>
  <div class="column">
    <div class="currentMood">
      {{>mood-wheel}}
    </div>

    <div class="allPosts">
      <h2>Drama from all Llamas</h2>
      {{#each allPosts}}
      <div class="post-box">
        <p>{{user.username}}'s drama:</p>
        <p id="moodText">Mood: {{moodText}}</p>
        <p id="title">"{{title}}"</p>
        <p id="text">{{text}}</p>
        <p id="date">{{dateFormat createdAt}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="js/currentMood.js"></script>
