<div class="column llamaColumn" >
  <div id="userLlamaPage" userId="{{user.id}}" llamaId="{{user.llama.id}}">
    <p id="userLlamaName">{{user.llama.name}}</p>
    <div id="llamaCard">
      <img id="userLlamaColor" src="{{user.llama.llama_image}}" />
      <img id="userLlamaHat" src="{{user.llama.llama_hat_image}}" />

    </div>  
    <div id="llamaExtra">

      <label for="happiness">Happiness:</label>
      <progress id="userLlamaHappiness" value={{user.llama.happiness}} max="10">
      </progress>
      <p>Your llama happiness level is {{user.llama.happiness}}/10</p>
      <button id="toEditBttn">Edit Llama</button>
    </div>

  </div>

  <div id="llamaEdit">
    <h2>Customize Your Llama</h2>
    <for id="llamaSelect">
      <label for="llamaName">Name your llama:</label>
      <input type="text" id="llamaName" />
      <label for="llamaColor">Choose a color:</label>
      <select name="colors" class="colorSelect">
        <option value="grey">Grey</option>
        <option value="brown">Brown</option>
        <option value="white">White</option>
        <option value="pink">Pink</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="salmon">Salmon</option>
      </select>
      <label for="llamaHat">Choose a hat:</label>
      <select name="hats" class="hatSelect">
        <option value="none">None</option>
        <option value="cowboy">Cowboy Hat</option>
        <option value="crown">Crown</option>
        <option value="wizard">Wizard Hat</option>
        <option value="party">Party Hat</option>
        <option value="tiara">Tiara</option>
        <option value="baseball">Baseball Hat</option>
        <option value="joe">Best Hat</option>
      </select>
      <div id="llamaCard">
        <img id="llamaImage" src="images/pixel-llamas/llama01.png" />
        <img id="hatImage" src="images/pixel-llamas/no-hat.png" />
      </div>
      <button type="submit" id="submit">Done</button>
    </form>
  </div>
</div>

<div class="modal">
  <div id="journalModal">
    <p class="modal-content"></p>
  </div>
</div>

<script src="js/llama.js"></script>