<div class="column">

  {{> mood-wheel}}

  <label id="orderLabel" for="orderData">Order by:</label>
      <select name="orderData" id="orderData">
        <option value="post">Post</option>
        <option value="hourly">Hourly</option>
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="yearly">Yearly</option>
      </select>

  <div id="allCharts">
    <div id="barChart"></div>
    <div id="pieChart"></div>
  </div>

  <div class="allPosts" id="moodPage">
    <h2>My Mood Tracker</h2>
    {{#each userPosts}}
    <div class="post-box" post-id={{id}}>
      <p>You were feeling {{moodText}}</p>
      <p id="title">"{{title}}"</p>
      <p id="text">{{text}}</p>
      <p id="date">{{dateFormat createdAt}}</p>
      <button id="deleteBtn" post-id={{id}}>Delete</button>
    </div>
    {{/each}}
  </div>
</div>
</div>

<script src="/js/moodEntry.js"></script>
<script src="/js/analytics.js"></script>